@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(206, 204, 204); */
  background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(../img/quiz.jpeg);
  background-size: cover;
  background-position: left;
}

.container {
  background-color: rgb(240, 236, 236);
  position: absolute;
  width: 90vw;
  max-width: 1024px;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.384);
}

.title {
  position: relative;
  background-color: rgba(0, 0, 0, 0.795);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 1.8em;
  border-radius: 5px;
  font-family: "Mochiy Pop P One", sans-serif;
}

.question {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.questionBox {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgb(231, 225, 225);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.315);
  transition: 0.5s;
}

.questionBox:hover {
  transform: scale(1.006);
  background-color: wheat;
}

.answerBtn {
  position: relative;
  padding: 10px;
  background-color: rgb(37, 122, 250);
  display: inline-block;
  margin: 8px;
  outline: none;
  border: none;
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid rgb(37, 122, 250);
}
.answerBtn:hover {
  background-color: white;
  color: rgb(37, 122, 250);
  border: 2px solid rgb(37, 122, 250);
}

.score-board {
  position: relative;
  height: 700px;
}

.score {
  position: absolute;
  width: 1024px;
  font-size: 3em;
  top: 250px;
  text-align: center;
}

.playBtn {
  position: absolute;
  font-size: 1.4em;
  padding: 10px;
  top: 350px;
  background-color: rgb(46, 182, 46);
  color: rgb(255, 255, 255);
  width: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: 0.2s;
}

.playBtn:hover {
  transform: translateY(-2px);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.493);
}
.playBtn:active {
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.493);
  transform: translateY(-1px);
}
